.not{
    position: relative;
}

.badge{
    position: absolute;
    left: 65%;
    bottom: 0%;
    font-size: 10px;
}
.bi-laptop{
    background-color: primary;
}
.nav-item {
    color: grey;
    font-weight: 500;
}
.nav-item:hover {
    color: rgb(15, 96, 178);
}
